<!-- conteudo.component.html -->
<div class="loading-message" *ngIf="loading">Carregando vídeos favoritos...</div>

<div *ngIf="!loading && favoritos.length > 0">
  <h2>Meus Vídeos Favoritos</h2>
  <div class="video-list">
    <div *ngFor="let video of favoritos" class="video-item">
      <img [src]="video.thumbnail" alt="{{ video.title }}">
      <h3>{{ video.title }}</h3>
      <p>{{ video.description }}</p>
      <div class="acess">
        <a [routerLink]="['/video', video.id]" class="button-link">Acessar conteúdo</a>
      </div>
    </div>
  </div>
</div>

<div class="loading-message" *ngIf="!loading && favoritos.length === 0">
  <p>Você ainda não tem vídeos favoritos.</p>
</div>
