nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

ul li {
  display: inline;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
  transition: color 0.3s ease;
  border-top-left-radius: 5px ;
  border-top-right-radius: 5px ;
  
}

ul li a.active-link {
  background-color: white;
  padding: 10px 7px 22px 7px;
  color: black;
  font-weight: bold;
}

